@import 'form';

.calc{
    background: #575757;

    @include desk{
        background: linear-gradient(180deg, rgba(55,55,55,1) 85%, rgba(255,255,255,1) 85%);
    }

    .container{
        padding: 3rem 0;

        @include desk{
           display: flex;
           justify-content: space-between;
           align-items: center; 
        }
    }

    &__title{
        color: white;
        margin-bottom: 3rem;
        margin-top: 0;
    }

    &__text-under-title{
        color: white;
        font-size: 2rem;
        line-height: 150%;
    }

    &__text-block-desc{
        @include desk{
            width: 460px;
        }
    }

    &__form{
        margin-top: 3rem;
        background: #FFFFFF;
        border: 2px solid #E9E9E9;
        border-radius: 5px;
        
        @include desk{
           width: 620px; 
           border: 2px solid #c4c4c4;
           display: flex;
            flex-wrap: wrap;
            padding: 6rem 5rem;

            .form__block{
                width: 235px;
                margin-top: 0;

                &:nth-child(odd){
                    margin-right: 3rem;
                }
            }
        }
    }
}