@import "catalog/catalogItem";

.catalog{

    &__title{
        text-align: left;
    }

    &__hr{
        margin-bottom: 2rem;
        margin-top: 2rem;
    }

    &__text-under-title{
        font-size: 1.6rem;
    }

}