@import "header/logo",
        "header/contacts",
        "header/social",
        "header/main-nav";

.header{
    width: 100%;
    height: 45px;
    border-bottom: 1px solid rgba(0,0,0,0.12);
    background: white;
    position: sticky;
    top: 0;
    z-index: 10;

    @include desk{
        height: 83px;
        background: #fff;
    }

    &--gradient{

        @include desk{
           background:  linear-gradient(90deg, rgba(245,245,245,1) 50%, rgba(255,255,255,1) 50%);
        }
    }

    .container{
        display: flex;
        align-items: center;
        height: 100%;
        justify-content: space-between;
    }

    &__logo{
        position: relative;
        display: flex;
        align-items: center;

        &::after{
            content: '';
            width: 1px;
            height: 16px;
            background-color: $textDark;
            display: block;
            position: absolute;
            right: -.8rem;

            @include desk{
                display: none;
            }
        }
    }
      

}
