.inside-door{

    &__title{
        margin-bottom: 2rem;
        text-align: left;
    }

    &__under-title{
        font-size: 2rem;
        line-height: 3rem;
        color: $textNormal;
    }

    .catalog-item__title{
        font-size: 2rem;
        line-height: 2.8rem;
        color: $textDark;
    }
}