@import "timer/countdownTimer";

.timer{
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.35) 135.77%),
    url('../assets/bg_timer.jpg');
    background-size: cover;
    padding-bottom: 4rem;

    @include desk{
        background: url('../assets/bg_timer_desc.jpg');
    }

    &__title{
        text-align: center;
    }

    &__text{
        font-size: 1.6rem;
        line-height: 140%;
        text-align: center;
        color: $textNormal;
        margin-top: 1.2rem;
        text-align: center;
        margin: 0 auto;
        display: block;
    }

    &__countdown{
        margin-top: 2.5rem;

        @include desk{
            margin: 6rem auto;    
        }
    }

    &__block-img{
        margin-top: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-height: 200px;
        margin-bottom: 3.5rem;

        @include desk{
            max-height: none;
            width: auto;
        }

        img{
            max-width: 100%;
            max-height: 100%;
        }
    }

    &__btn-mobile{
        @include desk{
            display: none;
        }
    }

    &__block-form-img{

        @include desk{
            display: flex;
            justify-content: space-between;
            margin-top: 5rem;
            min-height: 510px;
        }        
    }

    &__form-title{
        font-size: 3.2rem;
        color: $textNormal;
        text-align: center;
    }

    &__form-block{
        display: none;

        @include desk{
            display: block;
            width: 600px;
            background: white;
            padding: 6rem 5rem;
        }        
    }

}
