@import 'why/advantages';
.why{
    background: url('../assets/backWhy.jpg') no-repeat,
                linear-gradient(169.23deg, #FFFFFF 49.55%, rgba(255, 255, 255, 0) 159.72%);
    background-size: cover;
    padding-bottom: 3rem;

    .container{

        @include desk{
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }
    }

    @include desk{
        background: url('../assets/whyBg-desc.jpg') no-repeat;
        background-size: cover;
        padding-bottom: 10rem;
    }

    &__title{
        margin-bottom: 30px;

        @include desk{
            margin-top: 7rem;
            margin-right: 3rem;
        }

        &--pink{
            color: $primary;
        }
    }

    &__advantages{

        @include desk{
            margin-top: 15rem;
        }
    }

}

