.contacts{

    @include desk{
        order: 4;
        flex-wrap: wrap;
        justify-content: flex-end;
        display: flex;
    }
    .phone{
        color: $textNormal;
        @include desk{
            text-align: right;
            font-size: 1.8rem;
        }
    
        &__link{
            text-decoration: none;
            color: inherit;
        }
    }

    .work-time{
        display: none;

        @include desk{
            color: $textLight100;
            font-size: 1.4rem;
            display: block;
            text-align: right;
            margin-bottom: 0.5rem;
        }
    }
}

.phone__link{
    text-decoration: none;
    color: inherit;
}

