.accordeon{

    label{
        display: flex;
        height: 80px;
        align-items: center;
        font-size: 2rem;
        color: #383838;
        cursor: pointer;
        border: 1px solid rgba($color: #000, $alpha: 0.25);

        @include desk{
            border: none;
            // border-bottom: 1px solid rgba($color: #000, $alpha: 0.25);

            &:first-child{
                border-top: 1px solid rgba($color: #000, $alpha: 0.25);
            }
        }

        &:not(:first-child){
            border-top: none;
        }
    }

    .panel{
        max-height: 0;
        // visibility: hidden;
        // opacity: 0;
        // transition: max-height 0.3s linear;
        overflow: hidden;

        @include desk{
           border-bottom: 1px solid rgba($color: #000, $alpha: 0.25); 
        }
    }

    input[type="checkbox"] {
        display: none;
    }

    input[type="checkbox"]:checked + .panel {
        max-height: 7000px;
        // visibility: visible;
        // opacity: 1;
        padding-top: 2rem;
    }

    .container{
        position: relative;
    }

    &__label-text{
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include desk{
           font-size: 3rem; 
        }

        &::after{
            content: '';
            display: flex;
            width: 40px;
            height: 40px;
            border: 1px solid rgba($color: #000000, $alpha: 0.25);
            border-radius: 50%;
            background: url('../assets/accordeonArrowTop.svg') no-repeat center center;
            transition: transform 0.3s ease-in-out;
            transform: rotate(-180deg);
        }

        &--active.accordeon__label-text::after{
            transform: rotate(0);
        }
    }
    
}